* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;

}

.links{
display: flex;
justify-content: space-between;
margin: 10px;
padding:0cm;


}

.logo {
  background-color: blue;
}

.log{


}
